<section>
    <div bnAos="fadeIn">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="fadeInDown">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="fadeInLeft">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="fadeInRight">
        <h1>HELLO WORLD</h1>
    </div>
</section>
<section>
    <div bnAos="fadeInUp">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="beat">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="bounce">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="heartBeat">
        <h1>HELLO WORLD</h1>
    </div>
</section>
<section>
    <div bnAos="landing">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="wobble">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="headShake">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="tada">
        <h1>HELLO WORLD</h1>
    </div>
</section>
<section>
    <div bnAos="jello">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="shake">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="rubberBand">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="swing">
        <h1>HELLO WORLD</h1>
    </div>
</section>
<section>
    <div bnAos="fadeIn">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="fadeInDown">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="fadeInLeft">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="fadeInRight">
        <h1>HELLO WORLD</h1>
    </div>
</section>
<section>
    <div bnAos="fadeInUp">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="beat">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="bounce">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="heartBeat">
        <h1>HELLO WORLD</h1>
    </div>
</section>
<section>
    <div bnAos="landing">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="wobble">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="headShake">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="tada">
        <h1>HELLO WORLD</h1>
    </div>
</section>
<section>
    <div bnAos="jello">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="shake">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="rubberBand">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="swing">
        <h1>HELLO WORLD</h1>
    </div>
</section>
<section>
    <div bnAos="fadeIn">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="fadeInDown">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="fadeInLeft">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="fadeInRight">
        <h1>HELLO WORLD</h1>
    </div>
</section>
<section>
    <div bnAos="fadeInUp">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="beat">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="bounce">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="heartBeat">
        <h1>HELLO WORLD</h1>
    </div>
</section>
<section>
    <div bnAos="landing">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="wobble">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="headShake">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="tada">
        <h1>HELLO WORLD</h1>
    </div>
</section>
<section>
    <div bnAos="jello">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="shake">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="rubberBand">
        <h1>HELLO WORLD</h1>
    </div>

    <div bnAos="swing">
        <h1>HELLO WORLD</h1>
    </div>
</section>
