<div class="dummy">
   

    <div bnAos="shake">
        <h1>shake </h1>
    </div>

    <div bnAos="rubberBand">
        <h1>rubberBand</h1>
    </div>

    <div bnAos="swing">
        <h1>swing</h1>
    </div> 

    <div bnAos="landing">
        <h1>landing</h1>
    </div> 

    <div bnAos="tada">
        <h1>tada</h1>
    </div> 

    <div bnAos="headShake">
        <h1>headShake</h1>
    </div> 

    <div bnAos="pulse">
        <h1>pulse</h1>
    </div> 
    
    <div bnAos="beat">
        <h1>beat</h1>
    </div> 

    <div bnAos="wobble">
        <h1>wobble</h1>
    </div> 


    <div bnAos="heartBeat">
        <h1>heartBeat</h1>
    </div> 


    <div bnAos="flipInX">
        <h1>  flipInX</h1>
    </div> 

    <div bnAos="flipInY">
        <h1>  flipInY</h1>
    </div> 
  
    <div bnAos="flipInY">
        <h1> zoomIn</h1>
    </div> 


    <div bnAos="jackInTheBox">
        <h1>jackInTheBox</h1>
    </div> 

    <div bnAos="shake">
        <h1>shake </h1>
    </div>

    <div bnAos="rubberBand">
        <h1>rubberBand</h1>
    </div>

    <div bnAos="swing">
        <h1>swing</h1>
    </div> 

    <div bnAos="landing">
        <h1>landing</h1>
    </div> 

    <div bnAos="tada">
        <h1>tada</h1>
    </div> 

    <div bnAos="headShake">
        <h1>headShake</h1>
    </div> 

    <div bnAos="pulse">
        <h1>pulse</h1>
    </div> 
    
    <div bnAos="beat">
        <h1>beat</h1>
    </div> 

    <div bnAos="wobble">
        <h1>wobble</h1>
    </div> 


    <div bnAos="heartBeat">
        <h1>heartBeat</h1>
    </div> 


    <div bnAos="flipInX">
        <h1>  flipInX</h1>
    </div> 

    <div bnAos="flipInY">
        <h1>  flipInY</h1>
    </div> 
  
    <div bnAos="flipInY">
        <h1> zoomIn</h1>
    </div> 


    <div bnAos="jackInTheBox">
        <h1>jackInTheBox</h1>
    </div> 

    <div bnAos="shake">
        <h1>shake </h1>
    </div>

    <div bnAos="rubberBand">
        <h1>rubberBand</h1>
    </div>

    <div bnAos="swing">
        <h1>swing</h1>
    </div> 

    <div bnAos="landing">
        <h1>landing</h1>
    </div> 

    <div bnAos="tada">
        <h1>tada</h1>
    </div> 

    <div bnAos="headShake">
        <h1>headShake</h1>
    </div> 

    <div bnAos="pulse">
        <h1>pulse</h1>
    </div> 
    
    <div bnAos="beat">
        <h1>beat</h1>
    </div> 

    <div bnAos="wobble">
        <h1>wobble</h1>
    </div> 


    <div bnAos="heartBeat">
        <h1>heartBeat</h1>
    </div> 


    <div bnAos="flipInX">
        <h1>  flipInX</h1>
    </div> 

    <div bnAos="flipInY">
        <h1>  flipInY</h1>
    </div> 
  
    <div bnAos="flipInY">
        <h1> zoomIn</h1>
    </div> 


    <div bnAos="jackInTheBox">
        <h1>jackInTheBox</h1>
    </div> 

    <div bnAos="shake">
        <h1>shake </h1>
    </div>

    <div bnAos="rubberBand">
        <h1>rubberBand</h1>
    </div>

    <div bnAos="swing">
        <h1>swing</h1>
    </div> 

    <div bnAos="landing">
        <h1>landing</h1>
    </div> 

    <div bnAos="tada">
        <h1>tada</h1>
    </div> 

    <div bnAos="headShake">
        <h1>headShake</h1>
    </div> 

    <div bnAos="pulse">
        <h1>pulse</h1>
    </div> 
    
    <div bnAos="beat">
        <h1>beat</h1>
    </div> 

    <div bnAos="wobble">
        <h1>wobble</h1>
    </div> 


    <div bnAos="heartBeat">
        <h1>heartBeat</h1>
    </div> 


    <div bnAos="flipInX">
        <h1>  flipInX</h1>
    </div> 

    <div bnAos="flipInY">
        <h1>  flipInY</h1>
    </div> 
  
    <div bnAos="flipInY">
        <h1> zoomIn</h1>
    </div> 


    <div bnAos="jackInTheBox">
        <h1>jackInTheBox</h1>
    </div> 

    <div bnAos="shake">
        <h1>shake </h1>
    </div>

    <div bnAos="rubberBand">
        <h1>rubberBand</h1>
    </div>

    <div bnAos="swing">
        <h1>swing</h1>
    </div> 

    <div bnAos="landing">
        <h1>landing</h1>
    </div> 

    <div bnAos="tada">
        <h1>tada</h1>
    </div> 

    <div bnAos="headShake">
        <h1>headShake</h1>
    </div> 

    <div bnAos="pulse">
        <h1>pulse</h1>
    </div> 
    
    <div bnAos="beat">
        <h1>beat</h1>
    </div> 

    <div bnAos="wobble">
        <h1>wobble</h1>
    </div> 


    <div bnAos="heartBeat">
        <h1>heartBeat</h1>
    </div> 


    <div bnAos="flipInX">
        <h1>  flipInX</h1>
    </div> 

    <div bnAos="flipInY">
        <h1>  flipInY</h1>
    </div> 
  
    <div bnAos="flipInY">
        <h1> zoomIn</h1>
    </div> 


    <div bnAos="jackInTheBox">
        <h1>jackInTheBox</h1>
    </div> 
   
   
</div>