<div class="dummy" bnGridBlock [height]="200" style="min-height:70vh">
    <div bnAos="landing">
        <h1>landing</h1>
    </div> 

    <div bnAos="landing">
        <h1>landing</h1>
    </div> 

    <div bnAos="landing">
        <h1>landing</h1>
    </div> 

    <div bnAos="landing">
        <h1>landing</h1>
    </div> 

    <div bnAos="landing">
        <h1>landing</h1>
    </div> 

    <div bnAos="landing">
        <h1>landing</h1>
    </div> 

    <div bnAos="landing">
        <h1>landing</h1>
    </div> 

    <div bnAos="landing">
        <h1>landing</h1>
    </div> 

    <div bnAos="landing">
        <h1>landing</h1>
    </div> 

    <div bnAos="landing">
        <h1>landing</h1>
    </div> 

    <div bnAos="landing">
        <h1>landing</h1>
    </div> 

    <div bnAos="shake">
        <h1>shake </h1>
    </div>

    <div bnAos="rubberBand">
        <h1>rubberBand</h1>
    </div>

    <div bnAos="swing">
        <h1>swing</h1>
    </div> 

    <div bnAos="landing">
        <h1>landing</h1>
    </div> 

    <div bnAos="tada">
        <h1>tada</h1>
    </div> 

    <div bnAos="headShake">
        <h1>headShake</h1>
    </div> 

    <div bnAos="pulse">
        <h1>pulse</h1>
    </div> 
    
    <div bnAos="beat">
        <h1>beat</h1>
    </div> 

    <div bnAos="wobble">
        <h1>wobble</h1>
    </div> 


    
   
</div>