

.dummy div {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
    background-color: darkmagenta;
    color:white;
    border: 10px solid white;
}