@import '../../../node_modules/@binom/sdk-core/styles/core.scss';
@import '../../../node_modules/@binom/sdk-core/styles/material-icons.scss';

@import '../../../dist/binom/sdk-layout/styles/layout.scss';

.regular-border{
    border-color: dimgray !important;
  }


.mainHeader{
  background: olive;
  z-index: 500 !important;
}

.bn-menu-group{
  position: relative;
  width: 250px;
}

.bn-menu-group-header{
  height: 30px !important;
  padding-left: 10px;
  border-bottom:1px solid;
}

.bn-menu-group-sub-header{
  height: 30px !important;
  margin: 10px;
  border-bottom:1px solid;
}

.bn-menu-group-header h2, .bn-menu-group-sub-header h2{
  font-size: 16px;
}

.bn-menu-group-header h1, .bn-menu-group-sub-header h1{
  font-size: 17px;
}

.bn-menu-group-wrapper{
  position: relative;
}


.bn-menu-formfield{
  padding: 10px  10px 0px 20px;
  margin-bottom: -10px
}

.sample-side-left{
  background-color: #efefef;
  box-sizing: border-box;
  border-right: 1px solid darkslategray;
  width: 100%;
  height: 100%;
}

.sample-side-right{
  background-color: #efefef;
  box-sizing: border-box;
  border-left: 1px solid darkslategray;
  width: 100%;
  height: 100%;
}