
<section bnLayoutWrapper="profile" offsetTop="15" offsetBottom="15" noFullScreen centered maxWidth="1200" parentId="root" [grid]="true" noInherhitGrid noInheritCalcHeights calcHeights>
  
    <mat-toolbar style="z-index:400;"  bnLayoutHeader shadow height="40" class="profile-header" [class.profile-content-corner-top]="layoutInfo.device !== 'phone' && layoutInfo.window.width >= 1200" >
      
    </mat-toolbar>
  
    <section bnLayoutSidebar="right" shadow inHeader iconSidebar style="z-index:400" [class.content-bg]="layoutInfo.device === 'phone' || layoutInfo.window.width < 1200">
     
    </section>
   
  
    <section bnLayoutContent  style="z-index:500" cdkScrollable class="profile-content" shadow [class.profile-content-corner-bottom]="layoutInfo.device !== 'phone' && layoutInfo.window.width >= 1200">
     COntent
    </section>
  
  </section>