
<section bnLayoutAppWrapper cdkScrollable >

  <section bnLayoutWrapper="root" maxWidth="1400" centered  [calcHeights]="false" [grid]="true" cdkScrollable>

    <section bnLayoutPreHeader fullWidth   [visible]="preheader" cdkScrollable class="preheader">
      <h1>PREHEADER</h1>

      <bn-split-content label="or">
        
        <div *bnSplitContentItem class="split-item"> Content A </div>
        <div *bnSplitContentItem class="split-item"> Content B</div>
        <div *bnSplitContentItem class="split-item"> Content C</div>
        
      </bn-split-content>

    </section>

    <section bnLayoutHeader height="64"   fullWidthContent="none"   shadow sticky class="mainHeader " >
      <mat-toolbar color="accent" >
        <span bnAos="fadeIn">
        <button mat-button (click)="preheader = !preheader"> PreHeader</button>
   
        <button mat-button (click)="sidebarleft = !sidebarleft"> left</button>
        <button mat-button (click)="toggleIconSidebar = !toggleIconSidebar"> iconSidebar</button>
        <button mat-button (click)="sidebarright = !sidebarright"> right</button>
        <button mat-button (click)="footer = !footer"> footer</button>
        <button mat-button [routerLink]="['./home']"> home</button>
        <button mat-button [routerLink]="['./nested']"> nested</button>
        <button mat-button [routerLink]="['./inner']"> nested fixed</button>
      </span>
      <span class="toolbar-spacer"></span>
      <bn-layout-switch-menu allowGridSettings allowVisible ></bn-layout-switch-menu>
      </mat-toolbar>
    </section>

    <section bnLayoutSidebar sticky cdkScrollable [iconSidebarToggle]="toggleIconSidebar" shadow iconSidebar [visible]="sidebarleft" >
      <div  class="sample-side-left">SIDEBAR</div>
    </section>

    <section bnLayoutContent cdkScrollable [shadow]="router.url !== '/inner'">
      <router-outlet #outlet="outlet"></router-outlet>
    </section>

    <section bnLayoutSidebar="right" [visible]="sidebarright" cdkScrollable shadow>
      <div  class="sample-side-right">SIDEBAR</div>
    </section>

    <section bnLayoutFooter fullWidth [visible]="footer" shadow style="background-color:olive">
      FOOTER
    </section>

  </section>

</section>
