

.example-container {
    width: 100vw;
    height: calc(100% - 64px);
  }
  
  .example-sidenav-content {
    padding:20px
  }
  


.split-item{
  background-color: darkmagenta;
  height: 200px;
  color: white;
  padding: 10px
}