

.example-container {
    width: 100vw;
    height: calc(100% - 64px);
  }
  
  .example-sidenav-content {
    padding:20px
  }
  
.sample-side{
  background-color: darkslategray;
  color:white;
  height: 100%;
}

