
<section bnLayoutAppWrapper cdkScrollable >

  <section bnLayoutWrapper="root" maxWidth="1400" centered  [calcHeights]="false" [grid]="true" animated>

    <section bnLayoutPreHeader fullWidth   [visible]="preheader" cdkScrollable class="sample-side">
      <h1>PREHEADER</h1>
      <div style="height:200px">...</div>
    </section>

    <section bnLayoutHeader height="64" fullWidthContent="none"  fullWidth  shadow sticky class="mainHeader " >
      <mat-toolbar color="accent" class="bn-transparent">
        <span bnAos="fadeIn">
        <button mat-button (click)="preheader = !preheader"> PreHeader</button>
        <button mat-button (click)="precontent = !precontent"> PreContent</button>
        <button mat-button (click)="sidebarleft = !sidebarleft"> sidebarleft</button>
        <button mat-button (click)="toggleIconSidebar = !toggleIconSidebar"> toggle IconSidebar</button>
        <button mat-button (click)="sidebarright = !sidebarright"> sidebarright</button>
        <button mat-button (click)="footer = !footer"> footer</button>
        <button mat-button [routerLink]="['./home']"> home</button>
        <button mat-button [routerLink]="['./nested']"> nested</button>
      </span>
      <span class="toolbar-spacer"></span>
      <bn-layout-switch-menu allowGridSettings allowVisible ></bn-layout-switch-menu>
      </mat-toolbar>
    </section>

    <section bnLayoutSidebar sticky cdkScrollable [iconSidebarToggle]="toggleIconSidebar" shadow iconSidebar [visible]="sidebarleft" >
      <div  class="sample-side-left">SIDEBAR</div>
    </section>

    <section bnLayoutContent cdkScrollable shadow>
      <router-outlet #outlet="outlet"></router-outlet>
    </section>

    <section bnLayoutSidebar="right" [visible]="sidebarright" cdkScrollable shadow>
      <div  class="sample-side-right">SIDEBAR</div>
    </section>

    <section bnLayoutFooter fullWidth [visible]="footer" shadow style="background-color:olive">
      FOOTER
    </section>

  </section>

</section>
